
<!-- The Timeline -->

<div class="container" id="timeline">
		<div class="row">
				<div class="col-lg-12">
						<div class="title text-center">
								<h2> Workshops </span></h2>
								<div class="border-meghna"></div>
						</div>
				</div>
		</div>

		<div class="timeline-wrapper clearfix">
		    <div class="timeline-content-day">
		        <div class="timeline-line"></div>
						<div class="timeline-content-item active" data-timeline="hour-8">
		            <span>17/9/18</span>
		            <div class="timeline-content-item-reveal">
		                <a href="#">
		                    <img src="images/Signups.jpg">
		                    <span>Signups</span>
		                </a>
		            </div>
		        </div>
						<div class="timeline-content-item" data-timeline="hour-8">
		            <span>25/9/18</span>
		            <div class="timeline-content-item-reveal">
		                <a href="#">
		                    <img src="images/EGM.jpg">
		                    <span>AGM</span>
		                </a>
		            </div>
		        </div>
						<div class="timeline-content-item" data-timeline="hour-8">
		            <span>6/9/18</span>
		            <div class="timeline-content-item-reveal">
		                <a href="#">
		                    <img src="images/CareersWorkshop.jpg">
		                    <span>Careers Panel</span>
		                </a>
		            </div>
		        </div>
		        <div class="timeline-content-item" data-timeline="hour-8">
		            <span>2/10/18</span>
		            <div class="timeline-content-item-reveal">
		                <a href="#">
		                    <img src="images/KotlinWorkshop.jpg">
		                    <span>Kotlin Workshop</span>
		                </a>
		            </div>
		        </div>

		        <div class="timeline-content-item" data-timeline="hour-9">
		            <span>17/10/18</span>
		            <div class="timeline-content-item-reveal">
		                <a href="#">
		                    <img src="images/ProgrammingGenerativeArt.jpg">
		                    <span>Programming Generative Art With Unity</span>
		                </a>
		            </div>
		        </div>

		        <div class="timeline-content-item" data-timeline="hour-10">
		            <span>22/11/18</span>
		            <div class="timeline-content-item-reveal">
		                <a href="#">
		                    <img src="images/InterSocsSocial.jpg">
		                    <span>InterSociety Social Night</span>
		                </a>
		            </div>
		        </div>

		        <div class="timeline-content-item" data-timeline="hour-11">
		            <span>28/11/18</span>
		            <div class="timeline-content-item-reveal">
		                <a href="#">
		                    <img src="images/RiotGames.jpeg">
		                    <span>Riot Games Speaker</span>
		                </a>
		            </div>
		        </div>

		        <div class="timeline-content-item" data-timeline="hour-12">
		            <span>20/2/18</span>
		            <div class="timeline-content-item-reveal">
		                <a href="#">
		                    <img src="images/PythonBeginners.JPG">
		                    <span>Beginners Python Workshop</span>
		                </a>
		            </div>
		        </div>

		        <div class="timeline-content-item" data-timeline="hour-13">
		            <span>28/2/18</span>
		            <div class="timeline-content-item-reveal">
		                <a href="#">
		                    <img src="https://picsum.photos/g/300/300">
		                    <span>Google Hashcode Hub</span>
		                </a>
		            </div>
		        </div>

		        <div class="timeline-content-item" data-timeline="hour-14">
		            <span>2/3/18</span>
		            <div class="timeline-content-item-reveal">
		                <a href="#">
		                    <img src="images/SISTEM2.JPG">
		                    <span>SISTEM</span>
		                </a>
		            </div>
		        </div>

		        <div class="timeline-content-item" data-timeline="hour-15">
		            <span>6/3/18</span>
		            <div class="timeline-content-item-reveal">
		                <a href="#">
		                    <img src="https://picsum.photos/g/300/300">
		                    <span>Hubspot Speaker</span>
		                </a>
		            </div>
		        </div>

		        <div class="timeline-content-item" data-timeline="hour-16">
		            <span>27/3/18</span>
		            <div class="timeline-content-item-reveal">
		                <a href="#">
		                    <img src="https://picsum.photos/g/300/300">
		                    <span>Python Search Engine Workshop</span>
		                </a>
		            </div>
		        </div>
		    </div>
		</div>

		<div class="container" id="timeline">
			<div class="row">
					<div class="col-lg-12">
							<div class="title text-center">
									<h2> Coder Dojo</h2>
									<div class="border-meghna"></div>
							</div>
					</div>
			</div>

		<div class="timeline-wrapper clearfix">
		    <div class="timeline-content-day">
		        <div class="timeline-line"></div>
						<div class="timeline-content-item active" data-timeline="hour-8">
		            <span>23/10/18</span>
		            <div class="timeline-content-item-reveal">
		                <a href="#">
		                    <img src="images/Coder7.jpg">
		                    <span>Coder Dojo #1</span>
		                </a>
		            </div>
		        </div>
						<div class="timeline-content-item" data-timeline="hour-8">
		            <span>30/10/18</span>
		            <div class="timeline-content-item-reveal">
		                <a href="#">
		                    <img src="images/Coder7.jpg">
		                    <span>Coder Dojo #2</span>
		                </a>
		            </div>
				</div>
				
				<div class="timeline-content-item" data-timeline="hour-8">
		            <span>6/11/18</span>
		            <div class="timeline-content-item-reveal">
		                <a href="#">
		                    <img src="images/Coder7.jpg">
		                    <span>Coder Dojo #3</span>
		                </a>
		            </div>
				</div>
				
				<div class="timeline-content-item" data-timeline="hour-8">
		            <span>13/11/18</span>
		            <div class="timeline-content-item-reveal">
		                <a href="#">
		                    <img src="images/Coder7.jpg">
		                    <span>Coder Dojo #4</span>
		                </a>
		            </div>
				</div>
				
				<div class="timeline-content-item" data-timeline="hour-8">
		            <span>20/11/18</span>
		            <div class="timeline-content-item-reveal">
		                <a href="#">
		                    <img src="images/Coder7.jpg">
		                    <span>Coder Dojo #5</span>
		                </a>
		            </div>
				</div>
				
				<div class="timeline-content-item" data-timeline="hour-8">
		            <span>27/11/18</span>
		            <div class="timeline-content-item-reveal">
		                <a href="#">
		                    <img src="images/Coder7.jpg">
		                    <span>Coder Dojo #6</span>
		                </a>
		            </div>
				</div>
				
				<div class="timeline-content-item" data-timeline="hour-8">
		            <span>4/12/18</span>
		            <div class="timeline-content-item-reveal">
		                <a href="#">
		                    <img src="images/Coder7.jpg">
		                    <span>Coder Dojo #7</span>
		                </a>
		            </div>
				</div>
				
				<div class="timeline-content-item" data-timeline="hour-8">
		            <span>12/2/18</span>
		            <div class="timeline-content-item-reveal">
		                <a href="#">
		                    <img src="images/Coder7.jpg">
		                    <span>Coder Dojo #8</span>
		                </a>
		            </div>
				</div>
				
				<div class="timeline-content-item" data-timeline="hour-8">
		            <span>19/2/19</span>
		            <div class="timeline-content-item-reveal">
		                <a href="#">
		                    <img src="images/Coder7.jpg">
		                    <span>Coder Dojo #9</span>
		                </a>
		            </div>
				</div>
				
				<div class="timeline-content-item" data-timeline="hour-8">
		            <span>26/2/19</span>
		            <div class="timeline-content-item-reveal">
		                <a href="#">
		                    <img src="images/Coder7.jpg">
		                    <span>Coder Dojo #10</span>
		                </a>
		            </div>
				</div>
				
				<div class="timeline-content-item" data-timeline="hour-8">
		            <span>5/3/19</span>
		            <div class="timeline-content-item-reveal">
		                <a href="#">
		                    <img src="images/Coder7.jpg">
		                    <span>Coder Dojo #11</span>
		                </a>
		            </div>
				</div>
				
				<div class="timeline-content-item" data-timeline="hour-8">
		            <span>12/3/19</span>
		            <div class="timeline-content-item-reveal">
		                <a href="#">
		                    <img src="images/Coder7.jpg">
		                    <span>Coder Dojo #12</span>
		                </a>
		            </div>
				</div>
				
				<div class="timeline-content-item" data-timeline="hour-8">
		            <span>19/3/19</span>
		            <div class="timeline-content-item-reveal">
		                <a href="#">
		                    <img src="images/Coder7.jpg">
		                    <span>Coder Dojo #13</span>
		                </a>
		            </div>
				</div>
				
				<div class="timeline-content-item" data-timeline="hour-8">
		            <span>26/3/19</span>
		            <div class="timeline-content-item-reveal">
		                <a href="#">
		                    <img src="images/Coder7.jpg">
		                    <span>Coder Dojo #14</span>
		                </a>
		            </div>
		        </div>

		    </div>
		</div>
